* {
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
}

button {
      background-color: red;
      margin-top: 10px;
      cursor: pointer;
}

button:hover {
      filter: brightness(75%);
}

.lock-img {
      width: 20vw;
}


.log-in-btn {
      margin-top: 15px;
      background-color: rgb(43, 226, 43);
      cursor: pointer;

}

.log-in-btn:hover {
      filter: brightness(75%);
}


.username-area {
      margin: 5px;
}


.hidden {
      display: none;
}

.admin-btn{
      display: inline-block;
}

table{
      background-color: rgb(154, 154, 220);
      border: 1px solid grey;
}

